header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 0;
    background-image: linear-gradient(0deg,#1a1a1a00,#1a1a1a60,#0a0a0a75,#0a0a0a);
    position: relative;
    width: 100%;
    z-index: 1000;
}
nav ul li {
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}
nav ul li:hover ul.child{
display: block;
}
ul.child li {
    padding: 5px 0px;
    cursor: pointer;
}
ul.child {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 25px;
    left: 0;
    width: 100%;
    background: black;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.action ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action ul li {
    margin: 0px 4px;
    font-size: 20px;
    color: #fff;
    border-radius: 40px;
    padding: 5px 10px;
    cursor: pointer;
}
.action ul li:first-child:hover {
    background: black;
    color: #ffb441;
}
.action ul li:last-child:hover {
    background: transparent;
    color: #ffb441;
}
.action ul li:last-child {
    color: black;
    background: #ffb441;
    border: 2px solid #ffb441;
}